!!!Strict
%html
  %head
    %title= content_for?(:title) ? yield(:title) : "Untitled"

    = stylesheet_link_tag 'administrator.css'

    / *************************************************************************
    / BluePrint CSS Framework 
    / ************************************************************************* 
    = stylesheet_link_tag 'blueprint/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'blueprint/print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'blueprint/ie.css', :media => 'screen, projection'

%body
  .main-container
    - flash.each do |name, msg|
      = content_tag :div, msg, :id => "flash_#{name}"


    %header
      .container
        .column.span-20.prepend-8
          - logo = image_tag("logo.png", :alt => "Sample App", :class => "round")
          = link_to logo, administrator_adminstrators_path
        .clear

    %section.round
      = yield


    %footer
      %hr
      .gray.rigth-align
        Create by ...
